body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: black;
  color: rgb(17, 0, 255);
  font-family: 'VT323', Arial, sans-serif;
}

#enterOverlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: opacity 0.5s ease;
  cursor: pointer;
  font-size: 3.5rem;
}

#card {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
}

#topLinks {
  display: none;
  text-align: center;
  margin-top: 10px;
}

#links a {
  color: #0004ff;
  margin: 0 11px;
  text-decoration: none;
  font-size: 2rem;
}

#centerImage {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  height: auto;
}
#card img {
  max-width: 100px;
  width: 100%;
  height: auto;
  border-radius: 25px;
}